<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Integration tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>src</directory>
      <exclude>
        <directory>src/protos</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
